/*de globale variabler*/
$bg-color: #222;
$primary-color: #fafb54;
$secondary-color: #e4e4e4;
$link-color: #258198;
$cta-color: #258198;
$text-color: #222;
$footer-color: #222;

$font: 'Times New Roman', Times, serif;


/*mixins*/