@use 'partial';

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: partial.$font;
    background-color: partial.$bg-color;

    /*nesting*/

    p{
        font-size: 20px;
        color: partial.$text-color;
        line-height: 1.5;
        padding: partial.$space;
    }

    h1, h2, h3, h4{
        padding: partial.$space;
        font-size: 30px;
        @include partial.flex;
        
    }

    h1, h3, h4{
        background-color: partial.$primary-color;
    }

    h2{
        background-color: partial.$bg-color;
    }

    a, link{
        color: partial.$link-color;
        font-style: italic;
    }

}

ul p{
    color: partial.$secondary-color;
    @include partial.flex;
}

img{
    max-width: 100%;
    height: auto;
}


.txt-section{
    background-color: partial.$secondary-color;
}

/*branching styling*/

.stage{
    background-color: partial.$stage-bg;
    color: partial.$primary-color;
    display: none;
    margin: 0 auto;
    max-width: 800px;
    padding: partial.$space;

    &.active{
        display: block;
    }

    .btn{
    background-color: partial.$cta-color;
    border: none;
    border-radius: 1rem;
    color: partial.$secondary-color;
    margin: partial.$space/2 0;
    padding: partial.$space/2;
    }

    .btn:hover{
    background-color: partial.$secondary-color;
    color: partial.$link-color;
    }

}


/*footer*/
h5{
    color: partial.$secondary-color;
    @include partial.flex;
}

footer p, header p{
    color: partial.$secondary-color;
    @include partial.flex;
    padding: 0 2rem 0 2rem;
    font-size: 16px;
}

footer a{
    @include partial.flex;
    line-height: 1.5;
}


/*Media query*/

@media screen {
    
}

