@use 'partial';

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: partial.$font;
    background-color: partial.$bg-color;

    /*nesting*/

    p{
        font-size: 20px;
        color: partial.$text-color;
        line-height: 1.2;
        padding-left: 2rem;
        padding-right: 2rem;
        align-items: center;
    }

    h1, h2, h3, h4{
        padding: partial.$space;
        font-size: 30px;
        @include partial.flex;
        
    }

    h1, h3, h4{
        background-color: partial.$primary-color;
    }

    h2{
        background-color: partial.$bg-color;
    }

    a{
        color: partial.$link-color;
        font-style: normal;
        text-decoration: none;
    }

}

img{
    max-width: 100%;
    height: auto;
}

.txt-section{
    background-color: partial.$secondary-color;
    padding-bottom: 2rem;
}

.txt-section h2{
    background-color: partial.$secondary-color;
    padding-bottom: 0;
    padding-top: 0;
}

/*branching styling*/

.stage{
    background-color: partial.$stage-bg;
    color: partial.$primary-color;
    display: none;
    margin: 0 auto;
    max-width: 800px;
    padding: partial.$space;

    &.active{
        display: block;
    }

    .btn{
    display: flex;
    justify-content: center;
    background-color: partial.$cta-color;
    border: none;
    border-radius: 1rem;
    color: partial.$secondary-color;
    font-size: 20px;
    font-weight: bold;
    margin: partial.$space/2 0;
    padding: partial.$space/2;
    }

    .btn:hover{
    background-color: partial.$secondary-color;
    color: partial.$link-color;
    }

    .btn-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.to-do p{
    color: partial.$secondary-color;
    @include partial.flex;
}

.to-do a{
        background-color: partial.$cta-color;
        color: partial.$secondary-color;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        @include partial.flex;
        text-decoration: none;
        padding-bottom: 2rem;
        padding-top: 2rem;

    }

    .to-do a:hover{
        background-color: partial.$secondary-color;
        color: partial.$cta-color;
        }


/*footer*/

h5{
    color: partial.$secondary-color;
    @include partial.flex;
    font-style: normal;
    font-size: 16px;
}

footer{
    border-top: 0.2rem;
    border-color: partial.$primary-color;
    border-style: double;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

footer p, header p{
    color: partial.$secondary-color;
    @include partial.flex;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 16px;
    font-style: normal;
}

footer a{
    @include partial.flex;
    line-height: 1.5;
}

.a-wrap{
    padding-bottom: 2rem;
}


/*Media query desktop*/

@media screen and (min-width: 769px){
  
    header address{
    display: flex;
    gap: partial.$space;
    align-items: center;
    justify-content: center;
    font-style: normal;
    }



    .txt-section {
    display: flex;
    align-items: flex-start;
    gap: partial.$space;
    }

    .txt-section img {
        max-width: 50%;
        height: auto;
    }

    .text {
        display: flex;
        flex-direction: column;
    }


    footer{
        display: flex;
        justify-content: space-around;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

